* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333;
  margin-top: 0;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

input[type="text"], select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("https://cdn.iconscout.com/icon/free/png-256/chevron-down-452941.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  padding-right: 30px;
}

button[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #006F8A;
}

.form-group {
  margin-bottom: 25px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

.recipe-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  margin-top: 30px;
}

.recipe-container h2 {
  margin-bottom: 20px;
}

.recipe-container img {
  max-width: 100%;
  height: auto;
}

.recipe-container p {
  margin-bottom: 15px;
}

.form-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reciepe-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* .reciepe-container {
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.image-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
} 

.recipe-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
}

.recipe-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  margin-top: 20px;
  box-shadow: 0px 0px 10px #ccc;
} */

.ingredients {
  font-size: 18px;
  margin-bottom: 20px;
}

.instructions {
  font-size: 18px;
}

li {
  list-style: none;
}